#profile {
  .title-team {
      font-weight: bold;
      font-size: 0.9em;
      font-style: italic;
      color:red;
  }

  #profile-form {
    margin-top: 20px;

    #input-picture {
      display: none;
    }

    .avatar_content {
      max-width: 180px;
      max-height: 180px;
      border-radius: 10%;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin: 0px auto;
      -webkit-box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.82);
      -moz-box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.82);
      box-shadow: 5px 5px 14px -3px rgba(0, 0, 0, 0.82);

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .avatar_camera {
        opacity: 0;
        color: white;
        text-align: center;
        font-size: 0.8em;
        position: absolute;
        top: 85%;
        left: 50%;
        width: 100%;
        height: 15%;
        transform: translate(-50%, -50%);
        z-index: 9;
      }
    }
    .avatar_content::after {
      opacity: 0;
      width: 100%;
      height: 25%;
      content: "";
      position: absolute;
      background-color: rgba(1, 1, 1, 0.8);
      bottom: 0;
      left: 0;
      transition: all 0.5s;
    }

    .avatar_content:hover.avatar_content::after,
    .avatar_content:hover .avatar_camera {
      opacity: 1;
      cursor: pointer;
    }

    .avatar_content:hover {
      cursor: pointer;
    }
  }
}
